<header class="header">
    <ul>
        <li>
            <i class="fal fa-landmark"></i>
        </li>
        <li><h3>My Gov</h3></li>
        <li><img src="images/Logo Icon.png" alt=""></li>
    </ul>
</header>