<ul class="nav">
    <li class="tabLink current" id="govLink" data-id="#gov">
        <a href="#">
            <i class="fal fa-landmark"></i>
            <h4>My Gov</h4>
        </a>
    </li>
    <li id="docsLink" class="tabLink" data-id="#docs" style="border-left:1px #175A85 solid;">
        <a href="#">
            <i class="fal fa-id-card"></i>
            <h4>My Docs</h4>
        </a>
    </li>
    <li id="walletLink" class="tabLink" data-id="#wallet" style="border-left:1px #175A85 solid;">
        <a href="#">
            <i class="fal fa-wallet" ></i>
            <h4>My Wallet</h4>
        </a>
    </li>
</ul>