<script src="assets/vendor/uiProgressButton.js"></script>
<script src="assets/vendor/signature.js"></script>
<script src="js/animatedModal.js"></script>
<script src="js/Main.js"></script>
<script src="js/androidFunctions.js"></script>
</body>
</html>