<div id="displayQR" class="animatedModal displayQR">
    <%- include('ejs/include/modalHeader.ejs', {
        title: "Receive Money",
        subTitle: "Receive Money",
        identifier: "displayQR",
        back: true,
        closeClasses: "close-newTransaction close-displayQR"
    }) %>
    
    <div class="verticalFlexFilled">
        <div class="qrCodeContainer">
            <image id="qrCodeImage" class="qrCodeImage" src="assets/images/qrcode.png" />
        </div>
        <div class="containerAction" id="displayQRFormEmpty" href="#displayQR">
            <i class="fal fa-layer-plus"></i><h4>Next</h4>
        </div>
    </div>

    <% include ../../include/modalFooter.ejs %>
</div>