<div id="displayQR" class="animatedModal displayQR">
    <%- include('ejs/include/modalHeader.ejs', {
        title: "Receive Money",
        subTitle: "Receive Money",
        identifier: "displayQR",
        back: true,
        closeClasses: "close-newTransaction close-displayQR"
    }) %>
    
    <div class="verticalFlexFilled">
        <div class="qrCodeContainer">
            <image id="receiveQRPress" class="qrCodeImage" src="assets/images/qrcode.png" />
        </div>
    </div>

    <% include ../../include/modalFooter.ejs %>
</div>