<div id="newTransaction" class="animatedModal newTransaction">
    <%- include('ejs/include/modalHeader.ejs', {
        title: "New Transaction",
        subTitle: "Choose a payment method",
        identifier: "newTransaction",
        back: false,
        closeClasses: "close-newTransaction"
    }) %>

    <ul class="categorySelect">
        <li id="sendPaymentMethodFormEmpty" href="#sendPaymentMethod"><i class="fal fa-chevron-square-right"></i><h3>Send Money</h3></li>
        <li id="displayQREmptyForm" href="#displayQR"><i class="fal fa-chevron-square-left"></i><h3>Receive Money</h3></li>
        <li id="payPaymentMethodFormEmpty" href="#payPaymentMethod"><i class="fal fa-file-invoice-dollar"></i><h3>Pay Bill</h3></li>
        <li class="no-border" id="payPaymentMethodFormEmpty" href="#payPaymentMethod"></li>
    </ul>

    <% include ../../include/modalFooter.ejs %>
</div>

