<div id="payAuthentication" class="animatedModal payAuthentication">
    <%- include('ejs/include/modalHeader.ejs', {
        title: "pay Authentication",
        subTitle: "pay Authentication",
        identifier: "payAuthentication",
        back: true,
        closeClasses: "close-newTransaction close-payMoney close-payPaymentMethod close-payRecipientInformation close-payAuthentication"
    }) %>

    <div class="containerAction" id="payPaymentValidationFormEmpty" href="#payPaymentValidation">
        <i class="fal fa-layer-plus"></i><h4>Next</h4>
    </div>

    <% include ../../include/modalFooter.ejs %>
</div>