<div id="payPaymentValidation" class="animatedModal payPaymentValidation">
    <%- include('ejs/include/modalHeader.ejs', {
        title: "Payment Validation",
        subTitle: "Payment Validation",
        identifier: "payPaymentValidation",
        back: true,
        closeClasses: "close-newTransaction close-payMoney close-payPaymentMethod close-payRecipientInformation close-payAuthentication close-payPaymentValidation"
    }) %>

    <div class="containerAction" id="paySuccessFormEmpty" href="#paySuccess">
        <i class="fal fa-layer-plus"></i><h4>Next</h4>
    </div>

    <% include ../../include/modalFooter.ejs %>
</div>