<div id="payPaymentMethod" class="animatedModal payPaymentMethod">
    <%- include('ejs/include/modalHeader.ejs', {
        title: "Payment Bill",
        subTitle: "Payment Method",
        identifier: "payPaymentMethod",
        back: true,
        closeClasses: "close-newTransaction close-payPaymentMethod"
    }) %>

    <ul class="categorySelect" id="sendPaymentMethodCategories">
        <li id="payRecipientInformationFormEmpty" href="#payRecipientInformation">
            <div>
                <i class="fal fa-wallet"></i></i><h3>Wallet</h3>
            </div>
            <h4>Balance: $214.23</h4>
        </li>
        <li id="sendAddCard" onclick="p_addcard()"><i class="fal fa-plus-circle"></i></i><h3>Add credit card</h3></li>
    </ul>

    <% include ../../include/modalFooter.ejs %>
</div>