<div id="payRecipientInformation" class="animatedModal payRecipientInformation">
    <%- include('ejs/include/modalHeader.ejs', {
        title: "Recipient Information",
        subTitle: "Recipient Information",
        identifier: "payRecipientInformation",
        back: true,
        closeClasses: "close-newTransaction close-payMoney close-payPaymentMethod close-payRecipientInformation"
    }) %>

    <div class="containerAction" id="payAuthenticationFormEmpty" href="#payAuthentication">
        <i class="fal fa-layer-plus"></i><h4>Next</h4>
    </div>

    <% include ../../include/modalFooter.ejs %>
</div>