<div id="sendPaymentMethod" class="animatedModal sendPaymentMethod">
    <%- include('ejs/include/modalHeader.ejs', {
        title: "Payment Method",
        subTitle: "Payment Method",
        identifier: "sendPaymentMethod",
        back: true,
        closeClasses: "close-newTransaction close-sendMoney close-sendPaymentMethod"
    }) %>

    <div class="containerAction" id="sendPaymentMethodFormEmpty" href="#sendRecipientInformation">
        <i class="fal fa-layer-plus"></i><h4>Next</h4>
    </div>

    <% include ../../include/modalFooter.ejs %>
</div>