<div id="sendPaymentMethod" class="animatedModal sendPaymentMethod">
    <%- include('ejs/include/modalHeader.ejs', {
        title: "Send Money",
        subTitle: "Payment Method",
        identifier: "sendPaymentMethod",
        back: true,
        closeClasses: "close-newTransaction close-sendPaymentMethod"
    }) %>

    <ul class="categorySelect" id="sendPaymentMethodCategories">
        <li id="sendRecipientInformationFormEmpty" href="#sendRecipientInformation">
            <div>
                <i class="fal fa-wallet"></i></i><h3>Wallet</h3>
            </div>
            <h4>Balance: $214.23</h4>
        </li>
        <li id="sendAddCard" onclick="p_addcard()"><i class="fal fa-plus-circle"></i></i><h3>Add credit card</h3></li>
    </ul>

    <% include ../../include/modalFooter.ejs %>
</div>