<div id="sendAuthentication" class="animatedModal sendAuthentication">
    <%- include('ejs/include/modalHeader.ejs', {
        title: "Send Authentication",
        subTitle: "Send Authentication",
        identifier: "sendAuthentication",
        back: true,
        closeClasses: "close-newTransaction close-sendMoney close-sendPaymentMethod close-sendRecipientInformation close-sendAuthentication"
    }) %>

    <div class="verticalFlexFilled">
        <div>
            <h4>Rakotomalala Miora</h4>
            <h4>Amount: $12.43</h4>
        </div>

        <div>
            <ul class="categorySelect">
                <li onclick="p_facerecognition()"><i class="fal fa-head-side"></i></i><h3>Face Recognition</h3></li>
                <li onclick="p_fingerprint()"><i class="fal fa-hand-point-up"></i><h3>Touch ID</h3></li>
            </ul>
            <div class="containerAction disabledAction" id="sendPaymentValidationFormEmpty">
                <i class="fal fa-money-bill-wave"></i><h4>Pay Now</h4>
            </div>
        </div>
    </div>
    
    <% include ../../include/modalFooter.ejs %>
</div>