<div id="sendRecipientInformation" class="animatedModal sendRecipientInformation">
    <%- include('ejs/include/modalHeader.ejs', {
        title: "Recipient Information",
        subTitle: "Recipient Information",
        identifier: "sendRecipientInformation",
        back: true,
        closeClasses: "close-newTransaction close-sendMoney close-sendPaymentMethod close-sendRecipientInformation"
    }) %>

    <div class="containerAction" id="sendAuthenticationFormEmpty" href="#sendAuthentication">
        <i class="fal fa-layer-plus"></i><h4>Next</h4>
    </div>

    <% include ../../include/modalFooter.ejs %>
</div>