<div id="sendPaymentMethod" class="animatedModal sendPaymentMethod">
    <%- include('ejs/include/navBar.ejs', { title: "Payment Method", subTitle: "Payment Method", closeClass: "sendPaymentMethod", closeClasses: "close-newTransaction close-sendMoney close-sendPaymentMethod" }) %>

    <div class="containerAction" id="sendPaymentMethodFormEmpty" href="#sendRecipientInformation">
        <i class="fal fa-layer-plus"></i><h4>Next</h4>
    </div>
</div>