<div id="sendAuthentication" class="animatedModal sendAuthentication">
    <%- include('ejs/include/modalHeader.ejs', {
        title: "Validation",
        subTitle: "Please validate the information below before proceeding",
        identifier: "sendAuthentication",
        back: true,
        closeClasses: "close-newTransaction close-sendMoney close-sendPaymentMethod close-sendRecipientInformation close-sendAuthentication"
    }) %>

    <div class="verticalFlexFilled">
        <div class="verticalFlexFilled validationContent">
            <div>
                <h4>Recipient Name</h4>
                <h3>Aina Rakotonirina</h3>
            </div>
            <div>
                <h4>Recipient Email</h4>
                <h3>aina.rakotonirina@gmail.com</h3>
            </div>
            <span class="totalAmount">Amount: <span class="totalAmountNumber">$12.43</span></span>
        </div>

        <div>
            <ul class="categorySelect">
                <li onclick="p_facerecognition('walletSend')"><i class="fal fa-head-side"></i></i><h3>Face Recognition</h3></li>
                <li onclick="p_fingerprint('walletSend')"><i class="fal fa-hand-point-up"></i><h3>Touch ID</h3></li>
            </ul>
            <div class="containerAction disabledAction" id="sendPaymentValidationFormEmpty" data-classes="close-newTransaction close-sendMoney close-sendPaymentMethod close-sendRecipientInformation close-sendAuthentication">
                <i class="fal fa-money-bill-wave"></i><h4>Pay Now</h4>
            </div>
        </div>
    </div>
    
    <% include ../../include/modalFooter.ejs %>
</div>