<div id="docs" class="wrapper animation-target">
    <div class="contentControl">
        <div class="search">
            <input type="text" placeholder="&#xF002; Search" style="font-family: IBM Plex Sans, 'Font Awesome 5 Pro'" />
        </div>
        <div class="sortBy">
            <select>
                <option>SORT BY</option>
                <option>Name</option>
                <option>Date</option>
            </select>
        </div>
    </div>
    <div class="outerContainer">
        <div class="innerContainer">
            <ul class="content">
                <div class="docsContainer">
                    <div class="docstitle">
                        <h3>Driver's License</h3>
                    </div>
                    <div class="docsContentWrapper">
                        <div class="docsContent">
                            <img src="assets/images/exampleLicense.png" alt="">
                        </div>
                    </div>
                    <ul class="docsMenu">
                        <li id="displayDocQREmptyForm" href="#displayDocQR"><i class="fal fa-qrcode"></i><h4>Show Code</h4></li>
                        <li><i class="fal fa-share-square"></i><h4>Share ID</h4></li>
                        <li id="trash"><i class="fal fa-trash-alt" style="color:#ED2631;"></i></li>
                    </ul>
                </div>

                <div class="docsContainer">
                    <div class="docstitle">
                        <h3>Marriage License</h3>
                    </div>
                    <div class="docsContentWrapper">
                        <div class="docsContent">
                            <img src="assets/images/marriageLicense.jpg" alt="">
                        </div>
                    </div>
                    <ul class="docsMenu">
                        <li><i class="fal fa-qrcode"></i><h4>Show Code</h4></li>
                        <li><i class="fal fa-share-square"></i><h4>Share ID</h4></li>
                        <li id="trash"><i class="fal fa-trash-alt" style="color:#ED2631;"></i></li>
                    </ul>
                </div>

                <div class="docsContainer">
                    <div class="docstitle">
                        <h3>Insurance Certificate</h3>
                    </div>
                    <div class="docsContentWrapper">
                        <div class="docsContent">
                            <img src="assets/images/insuranceCertificate.jpg" alt="">
                        </div>
                    </div>
                    <ul class="docsMenu">
                        <li><i class="fal fa-qrcode"></i><h4>Show Code</h4></li>
                        <li><i class="fal fa-share-square"></i><h4>Share ID</h4></li>
                        <li id="trash"><i class="fal fa-trash-alt" style="color:#ED2631;"></i></li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
    <div class="containerAction" id="docsFormEmpty" href="#addDocument">
        <i class="fal fa-folder-plus"></i><h4>Add Document</h4>
    </div>
</div>