<div id="gov" class="wrapper">
    <div class="contentControl">
        <div class="search">
            <input type="text" placeholder="&#xF002; Search" style="font-family: IBM Plex Sans, 'Font Awesome 5 Pro'" />
        </div>
        <div class="sortBy">
            <select>
                <option>SORT BY</option>
                <option>Name</option>
                <option>Date</option>
            </select>
        </div>
    </div>

    <div class="outerContainer">
        <div class="innerContainer">
            <ul class="content">
                <li>          
                    <ul class="contentLine">
                        <li class="contentIcon"><i class="fal fa-envelope"></i></li>
                        <li class="contentMessage"><span class="subject">Your Application Has Been Approved!</span><br><span class="message">Dear Mr. Mbuku, Your application on form S-342 has been approved by your local government.</span></li>
                    </ul>
                </li>
                <li>          
                    <ul class="contentLine">
                        <li class="contentIcon"><i class="fal fa-envelope-open"></i></li>
                        <li class="contentMessage"><span class="subject">Your Application Has Been Denied.</span><br><span class="message">Dear Mr. Mbuku, We regret to inform you that your application on form S-342 has been denied.</span></li>
                    </ul>
                </li>
                <li>          
                    <ul class="contentLine">
                        <li class="contentIcon"><i class="fal fa-file-contract"></i></li>
                        <li class="contentMessage"><span class="subject">Form 223F</span><br><span class="message">Filled on Jan 25 2019</span></li>
                    </ul>
                </li>
                <li>          
                    <ul class="contentLine">
                        <li class="contentIcon"><i class="fal fa-file-contract"></i></li>
                        <li class="contentMessage"><span class="subject">Form S-3421</span><br><span class="message">Filled on Jan 11 2019.</span></li>
                    </ul>
                </li>
                <li>          
                    <ul class="contentLine">
                        <li class="contentIcon"><i class="fal fa-star-exclamation"></i></li>
                        <li class="contentMessage"><span class="subject">General Notice</span><br><span class="message">A nationwide notice has been issued following the events of September 30th 2018</span></li>
                    </ul>
                </li>
                <li>          
                    <ul class="contentLine">
                        <li class="contentIcon"><i class="fal fa-file-contract"></i></li>
                        <li class="contentMessage"><span class="subject">Form A-36641</span><br><span class="message">Filled on Jan 7 2019</span></li>
                    </ul>
                </li>
                <li>          
                    <ul class="contentLine">
                        <li class="contentIcon"><i class="fal fa-envelope-open"></i></li>
                        <li class="contentMessage"><span class="subject">Your Application Has Been Approved!</span><br><span class="message">Dear Mr. Mbuku, Your application on form A-322 has been approved by your local government.</span></li>
                    </ul>
                </li>
                <li>          
                    <ul class="contentLine">
                        <li class="contentIcon"><i class="fal fa-envelope-open"></i></li>
                        <li class="contentMessage"><span class="subject">Your Application Has Been Denied.</span><br><span class="message">Dear Mr. Mbuku, We regret to inform you that your application on form A-322 has been denied.</span></li>
                    </ul>
                </li>
                <li>          
                    <ul class="contentLine">
                        <li class="contentIcon"><i class="fal fa-file-contract"></i></li>
                        <li class="contentMessage"><span class="subject">Your Application Has Been Denied.</span><br><span class="message">Dear Mr. Mbuku, We regret to inform you that your application on form S-342 has been denied.</span></li>
                    </ul>
                </li>
                <li>          
                    <ul class="contentLine">
                        <li class="contentIcon"><i class="fal fa-file-contract"></i></li>
                        <li class="contentMessage"><span class="subject">Form A-36641</span><br><span class="message">Filled on Jan 7 2019</span></li>
                    </ul>
                </li>
                <li>          
                    <ul class="contentLine">
                        <li class="contentIcon"><i class="fal fa-file-contract"></i></li>
                        <li class="contentMessage"><span class="subject">Form A-36641</span><br><span class="message">Filled on Jan 7 2019</span></li>  
                    </ul>
                </li>
                <li>          
                    <ul class="contentLine">
                        <li class="contentIcon"><i class="fal fa-envelope-open"></i></li>
                        <li class="contentMessage"><span class="subject">Your Application Has Been Approved!</span><br><span class="message">Dear Mr. Mbuku, Your application on form S-342 has been approved by your local government.</span></li>
                    </ul>
                </li>
                <li>          
                    <ul class="contentLine">
                        <li class="contentIcon"><i class="fal fa-file-contract"></i></li>
                        <li class="contentMessage"><span class="subject">Form A-332</span><br><span class="message">Filled on Jan 2 2019</span></li>  
                    </ul>
                </li>
                <li>          
                    <ul class="contentLine">
                        <li class="contentIcon"><i class="fal fa-file-contract"></i></li>
                        <li class="contentMessage"><span class="subject">Form A-341</span><br><span class="message">Filled on Jan 3 2019</span></li>  
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="containerAction navigationLink" data-id="applicationCategories" id="govFormEmpty" href="#aplicationCategories">
        <i class="fal fa-layer-plus"></i><h4>New Application</h4>
    </div>
</div>