<div id="wallet" class="wrapper">
    <div class="contentControl">
        <div class="search">
            <input type="text" placeholder="&#xF002; Search" style="font-family: IBM Plex Sans, 'Font Awesome 5 Pro'" />
        </div>
        <div class="sortBy">
            <select>
                <option>SORT BY</option>
                <option>Name</option>
                <option>Date</option>
            </select>
        </div>
    </div>
    <div class="outerContainer">
            <div class="innerContainer">
                <ul class="content">
                    <li>          
                        <ul class="contentLine">
                            <li class="contentIcon"><i class="fal fa-chevron-square-left"></i></li>
                            <li class="contentMessage"><span class="subject">Received $323.43 from Amare Daknji</span><br><span class="message">On April 24 2019</span></li>
                        </ul>
                    </li>
                    <li>          
                        <ul class="contentLine">
                            <li class="contentIcon"><i class="fal fa-file-invoice-dollar"></i></li>
                            <li class="contentMessage"><span class="subject">Paid $32.00 to AR Electric Company</span><br><span class="message">On April 23 2019</span></li>
                        </ul>
                    </li>
                    <li>          
                        <ul class="contentLine">
                            <li class="contentIcon"><i class="fal fa-chevron-square-right"></i></li>
                            <li class="contentMessage"><span class="subject">Sent $24.32 to Ezmund Kwat</span><br><span class="message">On April 21 2019</span></li>
                        </ul>
                    </li>
                    <li>          
                        <ul class="contentLine">
                            <li class="contentIcon"><i class="fal fa-chevron-square-right"></i></li>
                            <li class="contentMessage"><span class="subject">Sent $112.55 to Dakwali Jumbeh</span><br><span class="message">On April 20 2019</span></li>
                        </ul>
                    </li>
                    <li>          
                        <ul class="contentLine">
                            <li class="contentIcon"><i class="fal fa-file-invoice-dollar"></i></li>
                            <li class="contentMessage"><span class="subject">Paid $10.00 to Madagascar Gas</span><br><span class="message">On April 13 2019</span></li>
                        </ul>
                    </li>
                    <li>          
                        <ul class="contentLine">
                            <li class="contentIcon"><i class="fal fa-file-invoice-dollar"></i></li>
                            <li class="contentMessage"><span class="subject">Paid $52.00 to AR Electric Company</span><br><span class="message">On April 12 2019</span></li>
                        </ul>
                    </li>
                    <li>          
                        <ul class="contentLine">
                            <li class="contentIcon"><i class="fal fa-chevron-square-left"></i></li>
                            <li class="contentMessage"><span class="subject">Received $440.00 from Daliah Mkambi</span><br><span class="message">On April 10 2019</span></li>
                        </ul>
                    </li>
                    <li>          
                        <ul class="contentLine">
                            <li class="contentIcon"><i class="fal fa-chevron-square-right"></i></li>
                            <li class="contentMessage"><span class="subject">Sent $112.55 to Dakwali Jumbeh</span><br><span class="message">On April 8 2019</span></li>
                        </ul>
                    </li>
                    <li>          
                        <ul class="contentLine">
                            <li class="contentIcon"><i class="fal fa-chevron-square-left"></i></li>
                            <li class="contentMessage"><span class="subject">Received $340.00 from Daliah Mkambi</span><br><span class="message">On April 4 2019</span></li>
                        </ul>
                    </li>
                    <li>          
                        <ul class="contentLine">
                            <li class="contentIcon"><i class="fal fa-file-invoice-dollar"></i></li>
                            <li class="contentMessage"><span class="subject">Paid $15.00 to Madagascar Gas</span><br><span class="message">On March 31 2019</span></li>
                        </ul>
                    </li>
                    <li>          
                        <ul class="contentLine">
                            <li class="contentIcon"><i class="fal fa-file-invoice-dollar"></i></li>
                            <li class="contentMessage"><span class="subject">Paid $10.00 to Madagascar Gas</span><br><span class="message">On March 28 2019</span></li>
                        </ul>
                    </li>
                    <li>          
                        <ul class="contentLine">
                            <li class="contentIcon"><i class="fal fa-chevron-square-left"></i></li>
                            <li class="contentMessage"><span class="subject">Received $440.00 from Daliah Mkambi</span><br><span class="message">On March 22 2019</span></li>
                        </ul>
                    </li>
                    <li>          
                        <ul class="contentLine">
                            <li class="contentIcon"><i class="fal fa-chevron-square-left"></i></li>
                            <li class="contentMessage"><span class="subject">Received $140.00 from Daliah Mkambi</span><br><span class="message">On March 21 2019</span></li>
                        </ul>
                    </li>
                    <li>          
                        <ul class="contentLine">
                            <li class="contentIcon"><i class="fal fa-chevron-square-left"></i></li>
                            <li class="contentMessage"><span class="subject">Received $320.00 from Daliah Mkambi</span><br><span class="message">On March 20 2019</span></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    <div class="containerAction" id="walletFormEmpty" href="#newTransaction">
        <i class="fal fa-envelope-open-dollar"></i></i><h4>New Transaction</h4>
    </div>
</div>