<div id="displayDocQR" class="animatedModal displayDocQR">
    <%- include('ejs/include/modalHeader.ejs', {
        title: "Driver's License",
        subTitle: "Show this QR code to share your document",
        identifier: "displayDocQR",
        back: true,
        closeClasses: "close-displayDocQR"
    }) %>
    
    <div class="verticalFlexFilled">
        <div class="qrCodeContainer">
            <image id="docsQRCodeClick" class="qrCodeImage" src="assets/images/qrcode.png" />
        </div>
    </div>

    <% include ../../include/modalFooter.ejs %>
</div>