.categorySelect {
    display:flex;
    flex-wrap: wrap;
    height:inherit;
    align-content: flex-start;
}

.categorySelect li {
    flex: 1 0 30%;
    margin:5px;
    text-align:center;
    border:1px dashed white;
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding:20px;
}

.categorySelect li:active {
    background:@darkBlue;
    opacity: .4;
}

.categorySelect li.no-border {
    border: 0 dashed white;
}

.categorySelect li i {
    color:@lightGreen;
    font-size:15vw;
    margin-bottom:10px;
}

.categorySelect li h3 {
    font-size:3vw;
}

.categorySelect li h4 {
    font-size:2.6vw;
}

.innerCategorySelect {
    display:flex;
    flex-direction: column;
    li {
        cursor: pointer;
        display:flex;
        background: linear-gradient(90deg, rgba(24,49,107,1) 0%, rgba(33,57,132,1) 100%);
        border-radius: 10px;
        box-shadow:0 14px 20px rgb(17, 29, 82);
        border:1px solid @lightBlue;
        padding:20px;
        z-index:2;
        text-align: center;
        justify-content: center;
        align-items:center;
        margin:5px 0;
        font-size:0.7em;
        &:active {
            background:@darkBlue;
            opacity: .4;
        }
    }
    &.traveInnerCategorySelect li {
        transition: all 0.2s ease-in;
        transform: translateX(50%);
        opacity: 0;

        &.visible {
            transform: translateX(0);
            opacity: 1;
        }
    }
}

@media screen and (max-height:380px){
    .verticalFlexFilled {
        height:auto !important;
    }
}

@media screen and (min-width: 480px) {
    .categorySelect li i {
       font-size: 50px !important;
    }
    .categorySelect li h3 {
        font-size: 18px !important;
     }
  }

