.animatedModal {
    display: flex;
    flex-direction: column;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    background: linear-gradient(0deg, rgba(33,57,132,0.98) 0%, rgba(24,49,107,1) 100%);
    border:1px solid @lightBlue;
    padding:15px;
    box-sizing: border-box;
    margin:8px;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    &.travelCategory, &.sendMoney, &.receiveMoney, &.payBill {
        margin-top: 13px;
        padding-bottom:28px;
    }
    &.visaApplication, &.sendPaymentMethod {
        margin-top: 18px;
        padding-bottom:38px;
    }
    &.prePayment, &.sendRecipientInformation {
        margin-top: 23px;
        padding-bottom:48px;
    }
    &.paymentValidation, &.sendAuthentication {
        margin-top: 28px;
        padding-bottom:58px;
    }
    &.sendPaymentValidation {
        margin-top: 33px;
        padding-bottom:68px;
    }
    &.sendSuccess {
        margin-top: 38px;
        padding-bottom:78px;
    }
}

.modalHeader {
    display:flex;
    justify-content: space-between;
}
