#animatedModal {
    display: flex;
    flex-direction: column;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    background: linear-gradient(0deg, rgba(33,57,132,0.98) 0%, rgba(24,49,107,1) 100%);
    border:1px solid #175A85;
    padding:15px;
    box-sizing: border-box;
    margin:8px;
    margin-bottom:20px;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

.modalHeader {
    display:flex;
    justify-content: space-between;
}