<div id="addDocument" class="animatedModal">
    <%- include('ejs/include/navBar.ejs', { title: "New Document", subTitle: "Add document", closeClass: "addDocument", closeClasses: "close-addDocument" }) %>

</div>