<div id="applicationCategories" class="animatedModal">
    <%- include('ejs/include/modalHeader.ejs', {
        title: "New Application",
        subTitle: "Select a category",
        identifier: "applicationCategories",
        back: false,
        closeClasses: "close-applicationCategories"
    }) %>

    <div class="verticalFlexFilled">
    <ul class="categorySelect" style="align-content:inherit">
        <li><i class="fal fa-heartbeat"></i><h3>HealthCare</h3></li>
        <li id="travelCategoryFormEmpty" href="#travelCategory"><i class="fal fa-plane-alt"></i><h3>Travel</h3></li>
        <li><i class="fal fa-car"></i><h3>Driving</h3></li>
        <li><i class="fal fa-rings-wedding"></i><h3>Marriage</h3></li>
        <li><i class="fal fa-suitcase-rolling"></i><h3>Immigration</h3></li>
        <li><i class="fal fa-paw"></i><h3>Animals</h3></li>
        <li><i class="fal fa-home"></i><h3>Housing</h3></li>
        <li><i class="fal fa-balance-scale"></i><h3>Legal</h3></li>
    </ul>
    </div>

    <% include ../../include/modalFooter.ejs %>
</div>