<div id="applicationCategories" class="animatedModal">
    <div class="modalHeader">
        <div></div>
        <div>
            <i class="fal fa-file-contract"></i>
            <span class="modalTitle">New Application</span>
        </div>
        <i class="close-applicationCategories fal fa-times-circle"></i>
    </div>
    <div class="formTitle">
        <h4>Select a category</h4>    
    </div>
    <div class="verticalFlexFilled">
    <ul class="categorySelect">
        <li><i class="fal fa-heartbeat"></i><h3>HealthCare</h3></li>
        <li id="travelCategoryFormEmpty" href="#travelCategory"><i class="fal fa-plane-alt"></i><h3>Travel</h3></li>
        <li><i class="fal fa-car"></i><h3>Driving</h3></li>
        <li><i class="fal fa-rings-wedding"></i><h3>Marriage</h3></li>
        <li><i class="fal fa-suitcase-rolling"></i><h3>Immigration</h3></li>
        <li><i class="fal fa-paw"></i><h3>Animals</h3></li>
        <li><i class="fal fa-home"></i><h3>Housing</h3></li>
        <li><i class="fal fa-balance-scale"></i><h3>Legal</h3></li>
    </ul>
    </div>
</div>