<div id="newTransaction" class="animatedModal newTransaction">
    <div class="modalHeader">
        <div>
            <i class="fal fa-file-contract"></i>
            <span class="modalTitle">New Transaction</span>
        </div>
        <i class="close-newTransaction fal fa-times-circle"></i>
    </div>
    <div class="formTitle">
        <h4>Choose a payment method</h4>    
    </div>
    <ul class="categorySelect">
            <li><i class="fal fa-wallet"></i><h3>Wallet Balance</h3></li>
            <li id="creditCard" href="#travelCategory"><i class="fal fa-credit-card"></i></i><h3>Credit Card</h3></li>
        </ul>
</div>

