<div id="newTransaction" class="animatedModal newTransaction">
    <%- include('ejs/include/navBar.ejs', { title: "New Transaction", subTitle: "Choose a payment method", closeClass: "newTransaction", closeClasses: "close-newTransaction" }) %>

    <ul class="categorySelect">
            <li><i class="fal fa-wallet"></i><h3>Wallet Balance</h3></li>
            <li id="creditCard" href="#travelCategory"><i class="fal fa-credit-card"></i></i><h3>Credit Card</h3></li>
        </ul>
</div>

