<div id="paymentValidation" class="animatedModal paymentValidation">
    <div class="modalHeader">
        <i class="close-paymentValidation fal fa-chevron-left"></i>
        <div>
            <i class="fal fa-file-contract"></i>
            <span class="modalTitle">Payment Validation</span>
        </div>
        <i class="close-pa close-paymentValidation close-visaApplication close-travelCategory close-applicationCategories fal fa-times-circle"></i>
    </div>
    <div class="formTitle">
        <h4>Payment Validation</h4>    
    </div>
    <div class="containerAction" id="visaApplicationFormEmpty" href="#visaApplication">
        <i class="fal fa-layer-plus"></i><h4>New Application</h4>
    </div>
</div>