<div id="paymentValidation" class="animatedModal paymentValidation">
    <%- include('ejs/include/modalHeader.ejs', {
        title: "Payment Successful",
        subTitle: "Payment Validation",
        identifier: "paymentValidation",
        back: true,
        closeClasses: "close-paymentValidation close-prePayment close-visaApplication close-travelCategory close-applicationCategories"
    }) %>

    <image id="signatureImage" class="signatureImage" src="" />

    <div class="containerAction">
        <i class="fal fa-layer-plus"></i><h4>New Application</h4>
    </div>
    
    <% include ../../include/modalFooter.ejs %>
</div>