<div id="prePayment" class="animatedModal prePayment">
    <%- include('ejs/include/navBar.ejs', { title: "Pre Payment", subTitle: "Please validate your identity", closeClass: "prePayment", closeClasses: "close-prePayment close-visaApplication close-travelCategory close-applicationCategories" }) %>

    <div class="verticalFlexFilled">
        <div class="verticalFlexFilled content">
            <h3>Visa Application Form</h3>
            <ul class="radioList verticalFlexFilled" style="justify-content: space-around;">
                <li>
                    <input type="radio" name="paymentType" id="pT1" checked>
                    <label for="pT1">Wallet (Balance: $214.23)</label>
                </li>
                <li>
                    <input type="radio" name="paymentType" id="pT2">
                    <label for="pT2">Credit Card</label>
                </li>
                <li>
                    <input type="radio" name="paymentType" id="pT3">
                    <label for="pT3">Bank Transfer</label>
                </li>
            </ul>
            <h3 style="margin-left:auto;">$18.00</h3>
        </div>
        <ul class="categorySelect">
            <li onclick="p_facerecognition()"><i class="fal fa-head-side"></i></i><h3>Face Recognition</h3></li>
            <li onclick="p_fingerprint()"><i class="fal fa-hand-point-up"></i><h3>Touch ID</h3></li>
        </ul>
        <div class="containerAction disabledAction" id="paymentValidationEmptyForm" href="#paymentValidation">
            <i class="fal fa-money-bill-wave"></i><h4>Pay Now</h4>
        </div>
    </div>
</div>