<div id="travelCategory" class="animatedModal travelCategory">
    <%- include('ejs/include/modalHeader.ejs', {
        title: "Travel Category",
        subTitle: "Travel Category",
        identifier: "travelCategory",
        back: true,
        closeClasses: "close-travelCategory close-applicationCategories"
    }) %>

    <ul class="innerCategorySelect">
        <li>Form 112A - Customs</li>
        <li>Form 32B - Import/Export</li>
        <li>Form A-231 - Passport Application</li>
        <li id="visaApplicationFormEmpty" href="#visaApplication">Form 223F - Visa Application</li>
        <li>Form 23C - Exotic Pet Transport</li>
        <li>Form 544B - Food Transport</li>
        <li>Form 343A - Funds Transport</li>
        <li>Form 12B - Security Clearance</li>
        <li>Form 53C - Travel Permit</li>
        <li>Form A-543 - Spouse/Guardian Update</li>
        <li>Form 442B - Insurance</li>
        <li>Form B-343 - Debt Payment</li>
    </ul>

    <% include ../../include/modalFooter.ejs %>
</div>
