<div id="travelCategory" class="animatedModal travelCategory">
    <div class="modalHeader">
        <div>
            <i class="fal fa-file-contract"></i>
            <span class="modalTitle">Travel Category</span>
        </div>
        <i class="close-travelCategory fal fa-times-circle"></i>
    </div>
    <div class="formTitle">
        <h4>Travel Category</h4>    
    </div>
</div>