<div id="travelCategory" class="animatedModal travelCategory">
    <%- include('ejs/include/modalHeader.ejs', {
        title: "Travel Category",
        subTitle: "Travel Category",
        identifier: "travelCategory",
        back: true,
        closeClasses: "close-travelCategory close-applicationCategories"
    }) %>

    <ul class="innerCategorySelect traveInnerCategorySelect">
        <span id="visaApplicationFormEmpty" href="#visaApplication" ></span>
    </ul>

    <% include ../../include/modalFooter.ejs %>
</div>
