<div id="visaApplication" class="animatedModal visaApplication">    
    <%- include('ejs/include/modalHeader.ejs', {
        title: "FORM 223F",
        subTitle: "STANDARD VISA APPLICATION FORM",
        identifier: "visaApplication",
        back: true,
        closeClasses: "close-visaApplication close-travelCategory close-applicationCategories"
    }) %>
            
    <div class="profilePic" data-profile="profilePic">
        Upload Photo
    </div> 

    <button id="pasteProfile">Paste Profile</button>

    <div class="generalForm" id="visaApplicationForm">  
        <form class="" action="">
            <div class="formSectionTitle">
                <h4>1. Applicant Details</h4>
            </div>  
            <label class="formLabel">
                <h4>Surname</h4>
            </label>
            <input type="text" data-profile="surname" />
            <label class="formLabel">
                <h4>First Name</h4>
            </label>
            <input type="text" data-profile="firstName" />
            <label class="formLabel">
                <h4>Birth Date</h4>
            </label>
            <input type="date" data-profile="birthDate" />
            <label class="formLabel">
                <h4>Birth Place</h4>
            </label>
            <input type="text" data-profile="birthPlace" />
            <label class="formLabel">
                <h4>Nationality</h4>
            </label>
            <input type="text" data-profile="nationality" />

            <div class="formSectionTitle">
                <h4>2. Contact References (NOT IN MADAGASCAR)</h4>
            </div>  
            <label class="formLabel">
                <h4>Telephone Number</h4>
            </label>
            <input type="number" />
            <label class="formLabel">
                <h4>Fax Number</h4>
            </label>
            <input type="text" />
            <label class="formLabel">
                <h4>Email Address</h4>
            </label>
            <input type="email" />
            <label class="formLabel">
                <h4>Physical Address</h4>
            </label>
            <input type="text" />
            <label class="formLabel">
                <h4>Physicall Address 2</h4>
            </label>
            <input type="text" />

            <button id="prePaymentFormEmpty" href="#prePayment">Digitally Sign Form</button>
        </form>
    </div>

    <% include ../../include/modalFooter.ejs %>
</div>