<div id="visaApplication" class="animatedModal">
    <div class="modalHeader">
        <div>
                <i class="fal fa-file-contract"></i>
            <span class="modalTitle">FORM 223F</span>
        </div>
        <i class="close-visaApplication fal fa-times-circle"></i>
    </div>
    <div class="formTitle">
        <h4>STANDARD VISA APPLICATION FORM</h4>    
    </div>
</div>