<div id="visaApplication" class="animatedModal visaApplication">
    <div class="modalHeader">
        <i class="close-travelCategory fal fa-chevron-left"></i>
        <div>
            <i class="fal fa-file-contract"></i>
            <span class="modalTitle">FORM 223F</span>
        </div>
        <i class="close-visaApplication fal fa-times-circle"></i>
    </div>
    <div class="formTitle">
        <h4>STANDARD VISA APPLICATION FORM</h4>    
    </div>
    <div class="modalContent">
        
        <div class="profilePic">
            Upload Photo
            <!-- <img src="assets/images/profilePic.png" alt="Miora Rakotomalala"> -->
        </div> 

        <button>Paste Profile</button>

        <div class="generalForm">  
            <form class="" action="">
                <div class="formSectionTitle">
                    <h4>1. Applicant Details</h4>
                </div>  
                <label class="formLabel">
                    <h4>Surname</h4>
                </label>
                <input type="text">
                <label class="formLabel">
                    <h4>First Name</h4>
                </label>
                <input type="text">
                <label class="formLabel">
                    <h4>Birth Date</h4>
                </label>
                <input type="date">
                <label class="formLabel">
                    <h4>Birth Place</h4>
                </label>
                <input type="text">
                <label class="formLabel">
                    <h4>Nationality</h4>
                </label>
                <input type="text">

                <div class="formSectionTitle">
                    <h4>2. Contact References (NOT IN MADAGASCAR)</h4>
                </div>  
                <label class="formLabel">
                    <h4>Telephone Number</h4>
                </label>
                <input type="number">
                <label class="formLabel">
                    <h4>Fax Number</h4>
                </label>
                <input type="text">
                <label class="formLabel">
                    <h4>Email Address</h4>
                </label>
                <input type="email">
                <label class="formLabel">
                    <h4>Physical Address</h4>
                </label>
                <input type="text">
                <label class="formLabel">
                    <h4>Physicall Address 2</h4>
                </label>
                <input type="text">

                <div class="formSectionTitle">
                    <h4>3. Passport Details</h4>
                </div>  
                <label class="formLabel">
                    <h4>Passport Number</h4>
                </label>
                <input type="number">
                <label class="formLabel">
                    <h4>Date Issued</h4>
                </label>
                <input type="date">
                <label class="formLabel">
                    <h4>Place Issued</h4>
                </label>
                <input type="text">
                <label class="formLabel">
                    <h4>Valid Until</h4>
                </label>
                <input type="date">
                <label class="formLabel">
                    <h4>Issuing Authority</h4>
                </label>
                <input type="text">

                <div class="formSectionTitle">
                    <h4>4. Visit Details</h4>
                </div>  

                <label class="formLabel" style="text-align:center;">
                    <h4>Validity Period</h4>
                </label>
                <div class="formMultiSelect">
                    <label>
                        <input type="radio" name="optradio" checked>1 Week
                    </label>
                    <label>
                        <input type="radio" name="optradio">15 Days
                    </label>
                    <label>
                        <input type="radio" name="optradio">1 Month
                    </label>
                    <label>
                        <input type="radio" name="optradio">3 Months
                    </label>
                </div>

                <label class="formLabel" style="text-align:center;">
                    <h4>Re-entry</h4>
                </label>
                <div class="formMultiSelect"> 
                    <label>
                        <input type="radio" name="optradio2" checked>Single
                    </label>
                    <label>
                        <input type="radio" name="optradio2">Multiple
                    </label>
                </div>

                <label class="formLabel" style="text-align:center;">
                    <h4>Single Traveler</h4>
                </label>
                <div class="formMultiSelect"> 
                    <label>
                        <input type="radio" name="optradio3" checked>Yes
                    </label>
                    <label>
                        <input type="radio" name="optradio3">No
                    </label>
                </div>
                
                <div class="formSectionTitle">
                    <h4>5. Visit Purpose: Tourism</h4>
                </div>  
                <label class="formLabel">
                    <h4>Applicant professional activity sector</h4>
                </label>
                <input type="text">

                <label class="formLabel">
                    <h4>Intended Destinations</h4>
                </label>
                <div class="formMultiLineInput">
                    <input style="flex:8" type="text" placeholder="Destination Name">
                    <label class="formLabel">
                        <h4>Days</h4>
                    </label>
                    <input style="flex:1; margin-left:5px;" type="number">
                </div>
                <div class="formMultiLineInput">
                    <input style="flex:8" type="text" placeholder="Destination Name">
                    <label class="formLabel">
                        <h4>Days</h4>
                    </label>
                    <input style="flex:1; margin-left:5px;" type="number">
                </div>
                <div class="formMultiLineInput">
                    <input style="flex:8" type="text" placeholder="Destination Name">
                    <label class="formLabel">
                        <h4>Days</h4>
                    </label>
                    <input style="flex:1; margin-left:5px;" type="number">
                </div>
                <div class="formMultiLineInput">
                    <input style="flex:8" type="text" placeholder="Destination Name">
                    <label class="formLabel">
                        <h4>Days</h4>
                    </label>
                    <input style="flex:1; margin-left:5px;" type="number">
                </div>
                <div class="formMultiLineInput">
                    <input style="flex:8" type="text" placeholder="Destination Name">
                    <label class="formLabel">
                        <h4>Days</h4>
                    </label>
                    <input style="flex:1; margin-left:5px;" type="number">
                </div>

                <div class="formSectionTitle">
                    <h4>6. Visit Purpose: Emigration</h4>
                </div>
                <label class="formLabel">
                    <h4>Activity sector in which employment is searched</h4>
                </label>
                <input type="text">
                <label class="formLabel">
                    <h4>Contact address</h4>
                </label>
                <input type="text">

                <div class="formSectionTitle">
                    <h4>7. Visit Purpose: Other than tourism or emigration</h4>
                </div>
                <label class="formLabel">
                    <h4>Intention description</h4>
                </label>
                <input type="text">
                <label class="formLabel">
                    <h4>Contact address</h4>
                </label>
                <input type="text">
                <label class="formLabel">
                    <h4>Permit reference number</h4>
                </label>
                <input type="text">

                <div class="formSectionTitle">
                    <h4>8. Confirmation & Signature</h4>
                </div>
                <label class="formLabel">
                    <h4>Full Name</h4>
                </label>
                <input type="text">
                <button>Digitally Sign Form</button>
            </form>
        </div>
    </div>
</div>