<header class="header">
        <ul>
            <li>
                <i id="screenIcon" class="fal fa-barcode-read"></i>
            </li>
            <li><h3 id="screenTitle">PangeaID</h3></li>
            <li><a href="index.html"><img src="assets/images/Logo Icon.png" alt=""></a></li>
        </ul>
    </header>
    
    <span class="authTitle"><h3>Select Authentication Method</h3></span>
    <ul class="AuthCategorySelect">
        <li onclick="p_scanandpay('authMain')"><i class="fal fa-qrcode"></i><h3>Scan QR</h3></li>
        <li onclick="p_nfc('authMain')"><i class="fal fa-wifi"></i><h3>NFC</h3></li>
    </ul>
    