<% pageTitle = "Authority" %>

<% include ejs/layout/topAuth.ejs %>

<div class="masterWrapper">
    <% include ejs/screens/authMain.ejs %>

    <% include ejs/screens/auth/residentCard.ejs %>
</div>

<% include ejs/layout/bottomAuth.ejs %>