<%
pageTitle = "PangeaID"
%>

<% include ejs/layout/top.ejs %>

<div class="masterWrapper">
    <% include ejs/include/header.ejs %>
    <% include ejs/screens/gov.ejs %>

    
    <% include ejs/screens/docs.ejs %>
    <% include ejs/screens/wallet.ejs %> 
    <% include ejs/include/nav.ejs %>

    <% include ejs/screens/gov/applicationCategories.ejs %>
    <% include ejs/screens/gov/travelCategory.ejs %>
    <% include ejs/screens/gov/visaApplication.ejs %>

    <% include ejs/screens/gov/addDocument.ejs %>
    <% include ejs/screens/gov/newTransaction.ejs %>
</div>

<% include ejs/layout/bottom.ejs %>