<%
pageTitle = "PangeaID"
%>

<% include ejs/layout/top.ejs %>

<div class="masterWrapper">
    <% include ejs/include/header.ejs %>
    <% include ejs/screens/gov.ejs %>

    
    <% include ejs/screens/docs.ejs %>
    <% include ejs/screens/wallet.ejs %> 
    <% include ejs/include/nav.ejs %>

    <% include ejs/screens/gov/applicationCategories.ejs %>
    <% include ejs/screens/gov/travelCategory.ejs %>
    <% include ejs/screens/gov/visaApplication.ejs %>
    <% include ejs/screens/gov/prePayment.ejs %>

    <% include ejs/screens/docs/addDocument.ejs %>
    
    <% include ejs/screens/wallet/newTransaction.ejs %>
    <% include ejs/screens/wallet/displayQR.ejs %>

    <% include ejs/screens/wallet/sendPaymentMethod.ejs %>
    <% include ejs/screens/wallet/sendRecipientInformation.ejs %>
    <% include ejs/screens/wallet/sendAuthentication.ejs %>

    <% include ejs/screens/wallet/payPaymentMethod.ejs %>
    <% include ejs/screens/wallet/payRecipientInformation.ejs %>
    <% include ejs/screens/wallet/payAuthentication.ejs %>

</div>

<% include ejs/layout/bottom.ejs %>